/* Police GrenzeGotisch */
@font-face {
    font-family: "GrenzeGotisch";
    src: url("./assets/font/Grenze_Gotisch/GrenzeGotisch-VariableFont_wght.ttf")
        format("truetype");
    font-weight: normal;
    font-style: normal;
}

/* Police Liter */
@font-face {
    font-family: "Liter";
    src: url("./assets/font/Liter/Liter-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/* Police Inter (variable) */
@font-face {
    font-family: "Inter";
    src: url("./assets/font/Inter/Inter-VariableFont_opsz,wght.ttf")
        format("truetype");
    font-weight: normal;
    font-style: normal;
}

/* Variante Black de Merriweather */
@font-face {
    font-family: "Merriweather Black";
    src: url("./assets/font/Merriweather/Merriweather-Black.ttf")
        format("truetype");
    font-weight: 900; /* Poids Black */
    font-style: normal;
}

/* Variante Bold de Merriweather */
@font-face {
    font-family: "Merriweather";
    src: url("./assets/font/Merriweather/Merriweather-Bold.ttf")
        format("truetype");
    font-weight: bold; /* Poids Bold */
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Inter", sans-serif;
    color: #fff;
}
body {
    overflow-x: hidden;
    overflow-y: scroll;
}

.example {
    display: flex;
    flex-direction: column;
}

.scroll-section {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background: #f0f0f0;
    transition: all 0.3s ease;
    opacity: 0;
    transform: translateX(-100px);
}

.scroll-section.in-view {
    opacity: 1;
    transform: translateX(0);
}

.scroll-section:nth-child(1) {
    background: #ffe3e3;
}

.scroll-section:nth-child(2) {
    background: #e3f7ff;
}

.scroll-section:nth-child(3) {
    background: #e8ffe3;
}

.scroll-section:nth-child(4) {
    background: #fff3e3;
}

.scroll-section h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 1rem;
}

.scroll-section pre,
.scroll-section p {
    font-size: 1.2rem;
    color: #666;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}
