* {
    z-index: 10;
    box-sizing: border-box;
}

.home {
    min-height: calc(
        100vh - 120px
    ); /* Hauteur minimale en tenant compte du header */
    position: relative;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Empêche le scroll horizontal */
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
